[Unit]
Description=Cloudflare DDNS
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/cfddns
ExecStart=/usr/bin/python3 /etc/cfddns/cfddns.py
Restart=always

[Install]
WantedBy=multi-user.target

