[Unit]
Description=Cloudflare DDNS
After=network.target

[Service]
Type=simple
User=root
ExecStart=python /etc/cfddns/cfddns.py
Restart=always

[Install]
WantedBy=multi-user.target

